---
interface Props {
    items: string[];
}

const { items } = Astro.props;
---

<ul class="info">
    {items.map((item) => <li>{item}</li>)}
</ul>

<style>
    ul.info {
        @apply flex flex-col gap-0.5;
    }

    ul.info li::before {
        content: "-";
        @apply mr-0.5;
    }
</style>
