---
import JobTitlesItem from "@components/jobs/JobTitlesItem.astro";

interface Title {
  name: string;
  start: string;
  end?: string;
}

interface RowStyle {
  dateClassName: string;
  divider: string | undefined;
  dividerClassName: string | undefined;
  titleClassName: string;
}

interface Props {
  titles: Title[];
  mainTitle: RowStyle;
  offTitle: RowStyle;
}

const { titles, mainTitle, offTitle } = Astro.props;
---

<div class="w-fit">
  <div class="job-titles">
    <JobTitlesItem title={titles[0]} style={mainTitle} />
    {titles.slice(1).map((title) => <JobTitlesItem title={title} style={offTitle} />)}
  </div>
  {
    Astro.slots.has("default") && (
      <div class="mt-1 border-t-2 border-smoke/20 md:col-span-5 md:col-start-1">
        <slot />
      </div>
    )
  }
</div>

<style>
  .job-titles {
    @apply grid gap-x-2;
    grid-template-columns: repeat(5, max-content);
  }
</style>
