---
import Footer from "@layouts/Footer.astro";
import About from "@components/index/IndexAbout.astro";
import Experience from "@components/index/IndexExperience.astro";
import Projects from "@components/index/IndexProjects.astro";
import Summary from "@components/index/IndexSummary.astro";
import Socials from "@components/index/IndexSocials.astro";

import Link from "@components/Link.astro";
import MainLayout from "@layouts/MainLayout.astro";

const links = [
  { title: "About me", href: "#about" },
  { title: "Experience", href: "#experience" },
  { title: "Projects", href: "#projects" },
];
---

<MainLayout>
  <div class="flex flex-col gap-2 lg:flex-row lg:gap-8">
    <header
      class="sticky flex w-full shrink-0 flex-col gap-2 pb-6 pt-12 lg:top-0 lg:max-h-screen lg:w-[400px] lg:py-20"
    >
      <Summary />
      <div>
        {
          links != null && links.length > 0 && (
            <ul class="flex flex-row justify-center lg:mt-12 lg:flex-col">
              {links.map(({ title, href }) => (
                <li class="w-fit">
                  <Link class="column-link" href={href}>
                    {title}
                  </Link>
                </li>
              ))}
            </ul>
          )
        }
      </div>
      <Socials />
    </header>
    <main class="flex w-full flex-col gap-2 pb-20">
      <About />
      <Experience />
      <Projects />
      <Footer class="mt-20" />
    </main>
  </div>

  <style>
    .column-link {
      @apply block px-6 py-4 transition-transform lg:hover:ps-8;
      transition-property: padding;
    }
  </style>
</MainLayout>
