<h1 class="font-header text-3xl text-mist">
    <a href="/" data-umami-event="home">Alex Noddings</a>
</h1>
<h2 class="font-header text-2xl text-mist underline decoration-smoke/75 decoration-underline-thick">
    Software Engineer
</h2>
<p class="mt-4">
    Senior Full-Stack Software Engineer, currently architecting and leading the development of complex
    business systems for customers around the world.
</p>
<p>
    My main tech stack is
    <a
        class="text-gradient-r from-orchid to-lavender hover:from-lavender hover:to-orchid"
        href="https://dotnet.microsoft.com/en-us/learn/dotnet/what-is-dotnet"
        data-umami-event="external-link"
        data-umami-event-site="dotnet"
    >
        .NET
    </a>
     using
    <a
        class="text-gradient-r from-lavender to-orchid hover:from-orchid hover:to-lavender"
        href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
        data-umami-event="external-link"
        data-umami-event-site="blazor"
    >
        Blazor
    </a>
     and
    <a
        class="text-gradient-r from-orchid to-flamingo hover:from-flamingo hover:to-orchid"
        href="https://learn.microsoft.com/en-us/ef/core/"
        data-umami-event="external-link"
        data-umami-event-site="efcore"
    >
        EF
    </a>
     on
    <a
        class="text-gradient-r from-flamingo to-turquoise hover:from-turquoise hover:to-flamingo"
        href="https://learn.microsoft.com/en-us/aspnet/core/introduction-to-aspnet-core"
        data-umami-event="external-link"
        data-umami-event-site="aspnetcore"
    >
        ASP.NET Core</a
    >, and deployed to
    <a
        class="text-gradient-r from-turquoise to-lavender hover:from-lavender hover:to-turquoise"
        href="https://azure.microsoft.com/en-gb"
        data-umami-event="external-link"
        data-umami-event-site="azure"
    >
        Azure</a
    >. I'm pretty flexible though, and love learning something new!
</p>
