---
import Link from "@components/Link.astro";
---

<section id="about" class="leading-loose lg:pt-20">
    <h2 class="font-header text-lg text-mist lg:mt-2">About me</h2>
    <p class="mt-2">
        I wrote my first lines of code back in 2011 in
        <Link
            href="https://www.lua.org/about.html"
            data-umami-event="external-link"
            data-umami-event-site="lua"
        >
            Lua
        </Link>
         using modding tools available for
        <Link
            href="https://wiki.facepunch.com/gmod/Beginner_Tutorial_Intro"
            data-umami-event="external-link"
            data-umami-event-site="gmod"
        >
            Garry's Mod
        </Link>
         and
        <Link
            href="https://tweaked.cc/"
            data-umami-event="external-link"
            data-umami-event-site="computercraft"
        >
            Minecraft
        </Link>. Being given the reigns to create whatever I could imagine got me hooked on programming.
    </p>
    <p class="my-4">
        Fast forward to today, and I'm a Senior Full-Stack Software Engineer, currently architecting and
        leading the implementation of complex business systems at a British software consultancy for customers
        around the world. I love learning, new challenges, and keep an eye on the cutting edge of technology
        to drive our technical evolution.
    </p>
    <p>
        When I'm not click clacking away at my desk, I enjoy long walks, a cracking bit of cheese, videogames,
        Sci-Fis, tabletop RPGs, surreal comedies, and listening to music. Actually, I listen to a lot of music
        at my desk too.
    </p>
</section>
