---
import "../../../styles/site.css";
---

<!doctype html>
<html lang="en">
  <head>
  </head>
  <body class="m-auto flex h-screen w-screen flex-col items-center justify-center gap-2 bg-violet">
    <h1 class="font-header text-mist" style="font-size: 14.2em;">Alex Noddings</h1>
    <div class="relative rounded-full bg-gradient-to-r from-lavender/10 to-orchid/20 px-20 pb-6 pt-2">
      <h1 class="text-mist" style="font-size: 7em;">Senior Full Stack Developer</h1>
      <h1 class="text-gradient-r absolute top-2 from-lavender/90 to-orchid/60" style="font-size: 7em;">
        Senior Full Stack Developer
      </h1>
    </div>
  </body>
</html>
